# Залежності Composer (їх не можна пушити!)
.osp/

# Файли конфігурації (там зазвичай паролі до БД)
.env

# Local updater packages
storage/local_updates/*.zip
storage/local_updates/*.ZIP

# Local release/test artifacts
storage/backups/*.sql
storage/testing/
